{% extends "bookshelf/base.html" %}

{% block content %}
  <h1>Список книг</h1>
  <form method="post">
	  {% csrf_token %}
		<input type="text" name="N" value="{{N}}"><input type="submit" name="name" value="Поиск"><input type="submit" name="name" value="Добавить книгу">
	  
	  {% if book_list %}
	  <table border=0>
	  <tr>
		<input type="hidden" name="Obr" value="{{Obr}}">
		<td><button type="submit" name="S" value="0">Название книги</button></td>
		<td><button type="submit" name="S" value="1">Автор</button></td>
		<td><button type="submit" name="S" value="2">Статус</button></td>
		<td><button type="submit" name="S" value="3">Читатель</button></td>
		<td><button type="submit" name="S" value="4">Срок сдачи </button></td>
   </form>
	  </tr>
    {% for book in book_list %}
    <tr>
    <td>	
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> </td><td>({{book.author}})</td><td> ____</td><td> 
		</td><td>01.01.2019
      </td>
	  </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>В библиотеке нет книг.</p>
  {% endif %}
{% endblock %}