{% extends "bookshelf/base.html" %}

{% block content %}
  <title>Оформление книг</title>
  <h1>Оформление книг</h1>
  <form method="post">
	  {% csrf_token %}
      <table border=0><tr><td>Номер книги: </td><td><input type="text" name="Num1" value="{{Num1}}"></td></tr>
            <tr><td>Номер чит. билета: </td><td><input type="text" name="Num2" value="{{Num2}}"></td></tr>
      
      <tr><td><center><button type="submit" name="tip" value="Взять">Взять книгу</button></center></td><td><center><button type="submit" name="tip" value="Сдать">Сдать книгу</button></center></td></tr></table>
    </form>
    <font color={{color}}><i>{{comment}}</i></font>
{% endblock %}